@charset "utf-8";

/* common.css - 공용요소 (전역선언) */
.hidden {display:none !important; }
/* 메인헤더 */
.g_header {position:fixed; top:-1px; right:0;bottom:0;left:0; height:68px; padding:12px 0 12px 12px;  background-color:var(--color-gray-100); }
.g_header_wrap {display:flex;justify-content:space-between; align-items:center;max-width:1200px;height:100%; margin:0 auto; }
.g_header.shadow{box-shadow:0 0 10px rgba(0,0,0,0.3);}
.logo {flex:0 0 110px; width:110px; height:40px; background:url("../../imgs/logo.png") no-repeat center / 100%; text-indent:-9999px;}

.g_nav{display:flex; justify-content:flex-end; align-items:center;width:100%;max-width:280px; height:100%; }
.g_nav button {width:calc(100% / 4); height:100%; font-size:16px; font-weight:700; color:var(--color-gray-500); }
.g_nav button:hover{color:var(--color-brand-400); transition:0.3s; }

/* 서브헤더 - 뒤로가기 버튼 포함 */
.sub_header{width:100%; border-bottom:1px solid var(--color-gray-150); background:#fff;  }
.sub_header.header_fixed{position:fixed; top:0; left:0; z-index:100; }
.sub_header__box{display:flex; justify-content:flex-start; align-items:center; position:relative; width:100%; height:56px;  z-index:101; }
.sub_header__btn{flex:0 0 50px; width:50px; height:50px; }
.sub_header__title{flex:1 1 auto; display:flex; justify-content:center; align-items:flex-start; flex-direction:column; width:100%; height:50px; line-height:50px; font-size:18px; font-weight:700; color:#000;}
.sub_header__title h4{line-height:24px; font-size:18px; font-weight:600; }
.sub_header__title p{line-height:14px; font-size:14px; font-weight:400; color:var(--color-gray-300) }

/* 전역버튼 */
.btn-prev {width:50px; height:50px; background:var(--ico-arrow-b) center; background-size:28px auto; font-size:0; text-indent:-9999px; cursor:pointer; }
.btn-more {width:50px; height:50px; background:var(--ico-more-b) center; background-size:28px auto; font-size:0; text-indent:-9999px; cursor:pointer; }

/* footer - 푸터 */
.g_footer{ display:flex; justify-content:space-between; align-items:flex-start;width:100%; max-width:1200px; padding:24px; margin:24px auto 0;  border-top:1px solid var(--color-gray-200); color:var(--color-gray-400); }
.g_footer_el{display:flex; justify-content:flex-start; align-items:center; }
.g_footer_info{display:flex; justify-content:cente; align-items:flex-start; flex-direction:column;}
.g_footer_info h4 {line-height:40px; }
.g_footer_info p {line-height:28px; }

/* SNS - 소셜 바로가기 버튼 */
.btn-sns {width:40px; height:40px; border-radius:12px;text-indent:-9999px; }
.btn-sns_facebook{background:var(--color-gray-300) url("../../imgs/ico_sns_facebook.png") no-repeat center / auto 28px; }
.btn-sns_youtube{ margin:0 8px;background:var(--color-gray-300)  url("../../imgs/ico_sns_youtube.png") no-repeat center / auto 28px; }
.btn-sns_instagram{background:var(--color-gray-300)  url("../../imgs/ico_sns_instagram.png") no-repeat center / auto 28px; }

/* badge - 뱃지 */
.g_badge-txt{ display:inline-block; height:36px; line-height:36px; padding:0 24px; border-radius:32px; background-color:var(--color-brand-400); font-size:18px; font-weight:600; color:var(--color-gray-100); }
